// Background
$Navy: #1f232b;
$NavyDark: #1c2128;
$NavyLight: #20242d;
$Light: rgba(56, 62, 70, 0.4);
$Lighter: rgb(64, 71, 80);

// Buttons and Links
$Primary: #1f90ff;
$PrimaryGradient: linear-gradient(
  90deg,
  rgba(47, 132, 252, 1) 0%,
  rgba(77, 189, 245, 1) 100%
);
$Secondary: #3e485b;

// Text
$Grey: rgba(255, 255, 255, 0.7);
$White: #ffffff;

// Highs and Lows
$Green: #72e8a1;
$Red: #e97373;
