@import "./../../styles/colors";
@import "./../../../node_modules/spectre.css/src/variables";
@import "./../../../node_modules/spectre.css/src/navbar";

// .ReactModalPortal {
//   background: rgba(0, 0, 0, 0.5) !important;
// }

.ReactModal__Overlay {
  z-index: 100;
  background: rgba(0, 0, 0, 0.3) !important;
  backdrop-filter: 5px !important;
  backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.ReactModal__Content {
  width: 25vw;
  height: 60vh;
  background: $NavyLight !important;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.5);
  border: none !important;
  border-radius: 0.5em !important;
  padding: 2.5em !important;

  h2 {
    text-align: center;
    color: $White;
    font-weight: 100;
  }
}

.side-navbar {
  display: flex;
  flex-direction: column;
  width: 15vw;
  position: fixed;

  background: $NavyDark;
  height: 100vh;

  .navbar-brand {
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      fill: #fff;
      height: 20px;
    }
  }

  .navbar-item {
    padding: 1em 2.5em;
    display: flex;
    align-items: center;
    color: $White;
    background: none;
    font-weight: 100;
    font-size: 1.1em;
    cursor: pointer;

    .nav-icon {
      fill: $White;
      height: 1.25em;
      margin-right: 1.5em;
    }
  }

  .active {
    color: $Primary;

    .nav-icon {
      fill: $Primary;
    }
  }
}

.navbar {
  padding: 1.25em 4em;
  border-bottom: 1px solid $Light;
  background: $Navy;
  opacity: 0.98;
  width: 85vw;
  position: fixed;
  z-index: 2;
  left: 15vw;
  .icon-search {
    transform: scale(0.75);
  }

  span {
    display: flex;
    align-items: center;
  }

  .navbar-icons {
    color: $Lighter;
    margin: 0 1em;
    font-size: 26px;
  }

  .navbar-icons:hover {
    color: $White;
  }

  .dropdown {
    display: inline-block;
  }

  .dropdown__content {
    display: none;
    position: absolute;
  }

  .dropdown--active .dropdown__content {
    display: block;
    padding: 2em 0;
    background: $NavyLight;
    width: 250px;
    font-size: 1em;
    border-radius: 0.5em;
    color: white;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    margin: 0.75em 0;
    right: 0.25em;
    list-style: none;

    p {
      padding: 0.75em 2em;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
    }

    p:hover {
      background: $Primary;
      cursor: pointer;
    }
  }

  input {
    background: none;
    border: none;
    color: $White;
    font-size: 24px;
    padding: 0 0.5em;
    width: 60vw;
    outline: none;
    // max-width: 400px;
  }

  input::placeholder {
    color: $Lighter !important;
    text-transform: none;
    font-weight: 100;
  }
}

.filter-search {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  color: rgb(218, 218, 218);
  padding: 1.5em 4em;
  backdrop-filter: blur(5px);
  filter: blur(120%);
  -moz-backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  z-index: 1000 !important;
  left: 0;
  top: 80px;
  height: 100vh;
  width: 100vw;

  .search-item {
    padding: 0.75em;
    display: flex;
    max-width: 80vw;

    h1 {
      padding: 0;
      margin: 0;
      margin-right: 0.5em;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }

  .search-item:hover {
    color: white;
    cursor: pointer;
    text-shadow: 0px 30px 10px rgba(0, 0, 0, 1);
    transition: 500ms;
    transform: scale(1.005);
  }

  .secondary {
    font-weight: 100;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
  .side-navbar {
    transition: 3000ms;
    width: 0;
    display: none !important;
  }

  .navbar {
    width: 100vw;
  }
}
