@import "./../../styles/colors";
@import "./../../../node_modules/spectre.css/src/variables";
@import "./../../../node_modules/spectre.css/src/navbar";

.side-navbar {
  display: flex;
  flex-direction: column;
  width: 15vw;

  background: $NavyDark;
  height: 100vh;

  .navbar-brand {
    height: 89px;
  }

  .navbar-item {
    padding: 1em 2.5em;
    display: flex;
    align-items: center;
    color: $White;
    background: none;
    font-weight: 100;
    font-size: 1.1em;
    cursor: pointer;

    .nav-icon {
      fill: $White;
      height: 1.25em;
      margin-right: 1.5em;
    }
  }

  .active {
    color: $Primary;
    border-left: 1px solid $Primary;

    .nav-icon {
      fill: $Primary;
    }
  }
}

.navbar {
  padding: 1.25em 3em;
  border-bottom: 1px solid $Light;
  background: $Navy;
  width: 85vw;
  position: fixed;

  .icon-search {
    transform: scale(0.75);
  }

  input {
    background: none;
    border: none;
    color: $White;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 0.5em;
    max-width: 400px;
  }

  input::placeholder {
    color: $Lighter !important;
    text-transform: none;
    font-weight: 100;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
  .side-navbar {
    transition: 3000ms;
    width: 0;
    display: none !important;
  }

  .navbar {
    width: 100vw;
  }
}
