@import "./../../styles/colors.scss";

.button {
  border: none;
  margin: 0.5em 0;
  width: 100%;
  font-weight: 600;
  border-radius: 4px;
  min-width: 200px;
  max-width: 315px;
  height: 45px;
  font-size: 14px !important;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-primary:hover {
  background: $PrimaryGradient;
}

.btn-primary:active {
  background: $PrimaryGradient;
  transform: scale(1.01);
}

.btn-secondary:active {
  transform: scale(1.01);
}

.btn-primary {
  background: $Primary;
  color: $NavyDark;
}

.btn-secondary {
  background: $Secondary;
  color: $White;
}

.form-input {
  background: $NavyLight;
  border: 1px solid $Light;
  height: 50px;
  border-radius: 5px;
}

.main {
  flex: auto;
  background: $NavyLight;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 15vw;
}

.up {
  color: $Green;
}

.down {
  color: $Red;
}

.error-no-data {
  display: flex;
  flex-direction: column;
  .bar-chart {
    fill: $NavyDark;
    height: 10vw;
  }

  h2 {
    color: $NavyDark;
    font-weight: 700;
  }
}

.percentage {
  color: $Green;
}

.container {
  height: auto;
  position: absolute;
  left: 0;
  width: 82vw;
  margin-top: 6em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 0;

  .main__container {
    // padding: 0 3em !important;
  }
}

.crypto-data {
  .tab-block {
    border: none;
  }

  .news {
    margin: 1em;
    flex: 43%;

    min-height: 270px;
    // border: 1px solid $Light;
    padding: 1.5em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;

    h5:hover {
      background: $PrimaryGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }

    .time-news {
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        margin-right: 0.5em;
        margin-bottom: 0.15em;
      }
    }

    small {
      font-size: 13px !important;
    }

    .meta-news-data {
      display: flex;
      justify-content: space-between;
    }
    .pill {
      background: $Light;
      // max-width: 100px;
      font-size: 12px !important;
      text-align: center;
      border-radius: 2em;
      color: white;
      padding: 0.25em 1.25em;
      margin: 1em 0.25em;
    }

    .pill:hover {
      background: $PrimaryGradient;
    }

    a {
      color: $Primary;
      cursor: pointer;
      outline: none;
      background: $PrimaryGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .tab-item {
    padding-bottom: 1em;
    color: $Grey;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid $Light;
    cursor: pointer;
  }

  .react-tabs__tab--selected {
    color: $Primary;
    padding-bottom: 1em;
    border-bottom: 1px solid;
  }

  .analysis {
    h2 {
      color: white;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    p {
      text-align: center;
      margin: 0;
      padding: 0;
    }

    .analysis-card {
      border: 1px solid $Light;
      background: $NavyDark;
      height: 135px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 300px;
      margin: 1em;
      border-radius: 3px;
      padding: 3em 1em;

      .sentiment {
        color: white;
        font-weight: 100;
        margin-bottom: 1em;
      }

      .bar {
        background: $NavyDark;
        .bar-item {
          background: $Primary;
        }
      }
    }

    .crypto-radar-chart {
      display: flex;
      justify-content: center;

      .recharts-surface {
        display: flex;
        justify-content: center;
      }

      tspan {
        fill: $White;
        color: $White;
      }
    }

    .crypto-analysis {
      text-align: center;
      border: 1px solid $Light;
      display: flex;
      flex-direction: column;
      margin: 1em;
      height: 20vh;
      justify-content: center;
      border-radius: 3px;

      h1 {
        margin: 0;
        padding: 0;
      }

      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.crypto-actions {
  display: flex;
  justify-content: space-between;

  button {
    border: none;
    background: none;
    margin-top: 2em;
    font-size: 1em;
    padding: 0 1em;
    color: $Grey;
    cursor: pointer;
  }

  button:active {
    color: $Primary;
  }

  .active {
    color: $Primary;
  }

  button:hover {
    color: $Primary;
  }
}

h5 {
  font-weight: 200;
}
.chart-price {
  color: $White;
  font-weight: 500;
  margin-left: 0.5em;
}

.line-chart {
  margin-top: 2em;
  // background: red;

  // .recharts-area-area {
  //   fill: red !important;
  // }

  h5:last-child {
    font-size: 1.2em;
    color: rgba(216, 216, 216, 0.865);
    margin-right: 0.5em;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
  }
}
