@import "./../../styles/colors.scss";

.main {
  flex: auto;
  background: $NavyLight;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.percentage {
  color: $Green;
}

.container {
  height: auto;
  margin-top: 6em;
  width: 80vw;
}

.crypto-data {
  .tab-block {
    border: none;
  }

  .tab-item {
    padding-bottom: 1em;
    color: $Grey;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid $Light;
    cursor: pointer;
  }

  .react-tabs__tab--selected {
    color: $Primary;
    padding-bottom: 1em;
    border-bottom: 1px solid;
  }
}

.crypto-actions {
  display: flex;
  justify-content: space-between;

  button {
    border: none;
    background: none;
    margin-top: 2em;
    font-size: 1em;
    padding: 0 1em;
    color: $Grey;
    cursor: pointer;
  }

  button:active {
    color: $Primary;
  }

  .active {
    color: $Primary;
  }

  button:hover {
    color: $Primary;
  }
}

h5 {
  font-weight: 200;
}
.chart-price {
  color: $White;
  font-weight: 500;
  margin-left: 0.5em;
}

.line-chart {
  margin-top: 3em;
}
